services:
  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - n8n-net

  n8n:
    image: n8nio/n8n:2.4.8
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      N8N_HOST: localhost
      N8N_PORT: 5678
      N8N_PROTOCOL: http
      N8N_SECURE_COOKIE: "false"
      WEBHOOK_URL: http://localhost:5678
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      N8N_RUNNERS_ENABLED: "true"
      N8N_RUNNERS_MODE: external
      N8N_RUNNERS_BROKER_LISTEN_ADDRESS: 0.0.0.0
      N8N_RUNNERS_AUTH_TOKEN: ${N8N_RUNNERS_AUTH_TOKEN}
      N8N_NATIVE_PYTHON_RUNNER: "true"
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - task-runners
    networks:
      - n8n-net

  task-runners:
    image: n8nio/runners:2.4.8
    container_name: n8n-runners
    restart: unless-stopped
    environment:
      N8N_RUNNERS_TASK_BROKER_URI: http://n8n:5679
      N8N_RUNNERS_AUTH_TOKEN: ${N8N_RUNNERS_AUTH_TOKEN}
    networks:
      - n8n-net

  fastapi:
    build: ./backend/fastapi
    container_name: fastapi
    restart: unless-stopped
    environment:
      MODEL_PATH: /app/model/model.joblib
      WATCHFILES_FORCE_POLLING: "1"
    ports:
      - "8001:8000"
    volumes:
      - ./backend/fastapi/data:/app/data
      - ./backend/fastapi/model:/app/model
    networks:
      - n8n-net

  node-api:
    build: ./backend/node
    container_name: node-api
    restart: unless-stopped
    environment:
      PORT: 3000
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_USER: ${MARIADB_USER}
      DB_PASSWORD: ${MARIADB_PASSWORD}
      DB_NAME: ${MARIADB_DATABASE}
      MODEL_API_URL: http://fastapi:8000/predict
    ports:
      - "3000:3000"
    depends_on:
      - mariadb
      - fastapi
    networks:
      - n8n-net

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto/config:/mosquitto/config
    networks:
      - n8n-net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - influxdb_config:/etc/influxdb2
    networks:
      - n8n-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - n8n-net

  opcua:
    image: mcr.microsoft.com/iotedge/opc-plc:latest
    container_name: opcua
    restart: unless-stopped
    ports:
      - "50000:50000"
      - "8080:8080"
    environment:
      - PLC__SIMULATION__SIMULATIONFILE=Deterministic
    networks:
      - n8n-net

  # kafka:
  #   image: docker.io/bitnami/kafka:4.1
  #   container_name: kafka
  #   restart: unless-stopped
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     KAFKA_CFG_NODE_ID: 1
  #     KAFKA_CFG_PROCESS_ROLES: broker,controller
  #     KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
  #     KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
  #     KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
  #     KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
  #     KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
  #     KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
  #     KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
  #     ALLOW_PLAINTEXT_LISTENER: "yes"
  #   volumes:
  #     - kafka_data:/bitnami/kafka
  #   networks:
  #     - n8n-net

volumes:
  mariadb_data:
  n8n_data:
    external: true
    name: minseo_n8n_data
  influxdb_data:
  influxdb_config:
  grafana_data:
  # kafka_data:

networks:
  n8n-net:
